.signUpButton:link,
.signUpButton:visited

{
    text-transform: uppercase;
    // letter-spacing:2px

}
  .signUpButton:hover{
    transform: translateY(-3px); 

    

}
.signUpButton:active{
    transform: translateY(-1px) ;
  
}