.btn-send{
    background-color:#201835 ;
    color: white;
    text-transform: uppercase;
    font-size: 1.5vw;
    text-decoration: none;
    width: 10% ;
    margin-left: 1.5em; 
    padding: 5px;

}
