.container-fluid {
   
    padding-left:0  ;
    margin-right:auto;
    margin-left:auto;
    height:92.5%;
  }
  .usersList{
    background-color: #201835;
  }
  .chat-space{
    height: 90%;
  
  }
  .chatBody{
    background-image:  linear-gradient(181deg,rgba(100,200,255,0.6), rgba(0, 0, 0, 0.9) )  ,url(../../../assets/images/bg-chat-app.jpg);
  }
  .message-box{
    display: flex;
    margin-top: 10px;
 
    background-color: #eee;
    
  }
  .name-section{

    color: white;
    background-color: #01579B;
    width: 20%;
    text-align: center;
    font-size: smaller;

  }
  .message-section{
 
   
    // background-color: #eee;
    padding-left: 20px;
    display: block;

 

  }

  