.container-fluid {
   
    padding-left:0  ;
    margin-right:auto;
    margin-left:auto;
    height:92.5%;
  }
  .usersList{
    background-color: #201835;
  }
  .chat-space{
    height: 90%;
  
  }
  .chatBody{
    background-image:  linear-gradient(181deg,rgba(100,200,255,0.6), rgba(0, 0, 0, 0.9) )  ,url(../../../assets/images/bg-chat-app.jpg);
  }

  